# Java
*.class

# Build output
/build/
/.gradle/
/out/

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# MacOS
.DS_Store

# Gradle Wrapper JAR (izin ver)
!gradle/wrapper/gradle-wrapper.jar

# Ignore bin folders except for source roots
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# Ignore build folders except source folders
!**/src/main/**/build/
!**/src/test/**/build/

# NetBeans (əgər istifadə olunmursa, bu hissə silinə bilər)
nbproject/
nbbuild/
dist/
